.text_menu {
  font-size: 0.8rem;
}

:root {
  --bg_banner: #1abc9c;

  --bg-darker: #2c3e50;

  --bg-header: #2c3e50;
  --bg-footer: #3a546d;
}

.green_bg {
  background-color: var(--bg_banner);
}

.bg_header {
  background-color: var(--bg-header);
}

.first_section .container .row img {
  width: 180px;
}

/*second-section*/
.second_section .container .row .col img {
  width: 100%;
  border-radius: 10px;
}

.nav-link {
  color: white;
}

.font-s-13 {
  font-size: 13px;
}

.font-s-12 {
  font-size: 12px;
}

.font-s-9 {
  font-size: 9px;
}

.third-section .container button {
  border: 1px solid white;
  color: white;
}

.third-section h2 {
  color: white;
}

.star_white {
  color: white;
}

.bg-footer {
  background-color: var(--bg-footer);
}

.bg-darker {
  background-color: var(--bg-darker);
}

.green-text {
  color: var(--bg_banner);
}

footer .footer-social {
  display: inline-block;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 36px;
  height: 35px;
  position: relative;
  margin: 0 3px;
}

footer .footer-social i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
