.text_menu {
  font-size: 0.8rem;
}

:root {
  background: #c4c4c4;
  --bg_banner: #1abc9c;
  background: #0e38b5;
  background: #1c83c1;
  background: #1ea4b6;
  --bg-header: #2c3e50;
  background: #3a546d;
  background: #ba4b63;
  background: #ccb2a3;
}

.green_bg {
  background-color: var(--bg_banner);
}

.bg_header {
  background-color: var(--bg-header);
}

.container .row img {
  width: 160px;
}

.nav-link {
  color: white;
}

.font-s-13 {
  font-size: 13px;
}

.font-s-12 {
  font-size: 12px;
}

.third-section .container button {
  border: 1px solid white;
  color: white;
}
